extends layout

block content
    h2 Sign Up

    if errorMessage
        .error#error-msg-signup
            strong Error: 
               | #{errorMessage}

    .signup-form
        form(action='/api/signup' method='post')
            dl
                dt
                    | Username:
                dd
                    input(type='text' name='username' size='30' id='username-signup-form' value= username ? username : "")
                dt
                    | E-Mail:
                dd
                    input(type='text' name='email' size='30' id='email-signup-form' value= email ? email : "")
                dt
                    | Password:
                dd
                    input(type='password' name='password' size='30' id='password-signup-form')
                dt
                    | Password 
                    small (repeat)
                dd
                    input(type='password' name='password2' size='30' id='password2-signup-form')
            .actions
                input(type='submit' value='Sign Up' id='signup-btn')
